body {
  background-color: peru;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid black;
}

header {
  text-align: center;
  font-size: 2.7em;
}

nav {
  margin: auto;
  margin-top:5px; 
  width: 80%;
  height: 30px;
  outline: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  border: 2px solid black;
  font-size: 1.5em;
  width: 50%;

}